body{
font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif !important;
}
.top-card-wrapper{
width: 23%;
margin: 0 1%;
height: auto;
background-color: #fff;
float: left;
-webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
}
.top-card-image{
position: relative;
}
.top-card-image img{
width: 100%;
}
.top-card-image label{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  background-color: #00a0a0;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 10px;
  font-family: 'Dosis', sans-serif;
}
.top-card-timing{
font-size: 12px;
margin-bottom: 10px;
font-family: 'Dosis', sans-serif;
color: #585858;
}
.top-card-content{
padding: 15px;
}
.top-card-timing i{
color: #00a0a0;
}
.top-card-heading{
  font-size: 18px;
  font-weight: bold;
  color: #585858;
  font-family: 'Roboto Condensed Light Italic', arial;
  }
.top-card-des{
font-size: 12px;
margin: 10px 0;
color: #999;
overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
font-family: 'Roboto Condensed Light Italic', arial;
}
.read-more-new, .read-more-new:hover{
font-size: 12px;
color: #00a0a0;
text-decoration: none;
font-family: 'Roboto Condensed Light Italic', arial;
}
.cl{
clear: both;
}
.fl{
float: left;
}
.fr{
float: right;
}
.nearby {
  margin-top: 50px;
}
.nearby-events-wrapper{
width: 33%;
height: auto;
float: left;
border-top: 2px solid #fff;
background-color: #fff;
border-left: 1px solid #fef0e7 !important;
border-right: 1px solid #e0e8eb !important;
}
.nearby-image{
position: relative;
}
.nearby-image img{
width: 100%;
height: 300px
}
.nearby-image-des{
width: 100%;
position: absolute;
bottom: 0;
left: 0;
padding: 0 15px 15px 15px;
background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}
.nearby-event-date{
background-color: #fa6e3a;
color: #fff;
font-weight: bold;
width: 50px;
padding: 0px 10px;
font-family: 'Dosis', sans-serif;
}
.nearby-event-date label{
font-size: 20px;
width: 100%;
margin-bottom: 0;
}
.nearby-event-date span{
font-size: 12px;
}
.nearby-event-title{
font-size: 30px;
color: #fff;
font-weight: bold;
font-family: 'Roboto Condensed Light Italic', arial
}
.nearby-content{
width: 100%;
height: auto;
text-align: center;
padding: 10px 15px;
}
.nearby-content p{
margin: 0;
color: #fa6e3a;
font-size: 30px;
font-family: 'Roboto Condensed Light Italic', arial;
}
.half-border{
width: 40%;
margin: auto;
border-bottom: 1px solid #ffc8a2;
}
.nearby-content-des{
font-size: 16px !important;
color: #828282;
margin-top: 10px;
font-family: 'Roboto Condensed Light Italic', arial;
}
.nearby-date-content{
width: 100%;
border-top: 2px solid rgba(0, 0, 0, 0.2);
padding: 10px 0;
border-bottom: 3px solid #ffc8a2;
}
.nearby-date-content > div{
width: 50%;
float: left;
text-align: center;
color: #666;
}
.nearby-date-content > div:first-child{
border-right: 2px solid rgba(0, 0, 0, 0.2);
}
.nearby-date-content > div label{
width: 100%;
margin-top: 5px;
}
.scale-nearby{
-webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
-ms-transform: scale(1, 1.1);
-webkit-transform: scale(1, 1.1);
transform: scale(1, 1.1);
z-index: 999;
}
/* new changes */
.reflection-wrap{
-webkit-box-reflect: below -3px -webkit-gradient(linear, right top, right bottom, from(transparent), to(rgba(255, 255, 255, 0.4)));
}
*, *:focus{
outline: none;
}
.banner-select-box{
border: none;
padding: 0;
width: 100%;
background-color: transparent;
-moz-appearance:none;
-webkit-appearance:none;
appearance:none;
outline: none;
font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
font-size: 20px;
color: #595959;
font-family: 'Roboto Condensed Light Italic', arial;
}
.custom-select-box-arrow{
position: absolute;
top: calc(50% - 15px);
right: 30px;
}
/* new changes end */
@media (max-width: 800px){
.top-card-wrapper{
width: 46%;
margin: 0 2% 15px 2%;
float: left;
}
.nearby-image img{
min-height: 250px;
}
}
@media (max-width: 600px){
.top-card-wrapper{
width: 100%;
margin: 0 0 15px 0;
float: none;
}
.nearby-events-wrapper{
width: 100%;
margin-bottom: 120px;
float: none;
}
}
/*  old css  */
#mainNav {
font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
transition: all .2s;
border-bottom: 1px solid #fff !important;

}
#mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
color: #00a0a0 !important;
text-shadow: 0 0 8px #000;
}
.custom-cards{
width: 95%;
margin: auto;
border-radius: .25rem;
background-color: #fff;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
cursor: pointer;
position: relative;
top: -60px;
}
.custom-cards div{
width: 25%;
border-right: 2px solid #b2b2b2;
float: left;
margin: 15px 0;
padding: 30px;
}
.select-para{
font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
font-size: 20px;
color: #595959;
}
.lets-start{
text-align: center;
background-color: #019fa0;
color: #fff;
font-size: 30px;
font-weight: bolder;
margin: 0 0 !important;
padding: 38px 15px !important;
font-family: 'Roboto Condensed Light Italic', arial;
}

.custom-grid-container .grid-item{
width: 33%  !important;
float: left;
padding: 0 1%;
}
.margin-bottom-grid{
margin-bottom: 2%;
}
.top-cards img{
width: 24%;
}
.grid-container1 > div{
width: 25%;
height: auto;
float: left;
}
.grid-container1 div img{
height: auto;
width: 100%;
}
.grid-container1 div.grid-item11{
}
#mainNav .navbar-brand {
color: rgba(255,255,255,.7);
text-transform: uppercase;
font-family: roboto condensed;
}
#mainNav {
border-color: transparent;
background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
}
.navbar-light .navbar-nav .nav-link{
color: #fff;
}
.navbar-collapse {
display: flex;
flex-basis: auto;
flex-grow: 1;
align-items: center;
}
.logo {
background: #000 none repeat scroll 0 0;
left: -105px;
padding-left: 12%;
position: relative;
width: 33%;
}
.navbar-brand:hover {
color: #00a0a0 !important;
text-decoration: none;
}
/* #mainNav .navbar-nav>li.nav-item>a.nav-link, {
font-size: 16px !important;
color: #fff !important !important;
padding: 7px 12px !important;
text-transform: capitalize !important;
background: transparent !important;
border: dashed 1px transparent !important;
} */
#mainNav .navbar-nav>li.nav-item>a.nav-link {
font-size: 14px!important;
font-weight: normal !important;
text-transform: capitalize !important;
color: #fff !important;
}
.navbar-nav > li > a {
color: #fff !important;
font-size: 16px;
padding: 7px 12px;
text-transform: capitalize;
border: dashed 1px transparent;
}
.navbar-nav > li > a, header nav.navbar-default .navbar-nav > li.active > a {
background: transparent none repeat scroll 0 0 !important;
color: #fb9391 !important;
text-shadow: 0 0 8px #000;
}
.head-center {
height: 100vh;
min-height: 650px;
padding-top: 0;
padding-bottom: 0;
background-image: url("images/header_bg.jpg");
background-position: center center;
background-size: cover;
color: #fff;
text-align: center;
display: flex;
}
.head-container {
margin-bottom: auto;
margin-top: auto;
margin-left: auto;
margin-right: auto;
position: relative;
}
.my-head-wrapper {
position: absolute;
top: 14px;
}
.fa {
line-height: 22px;
}
.row {
display: flex;
margin-right: -15px;
margin-left: -15px;
}
.col-head {
margin-right: auto;
margin-left: auto;
position: relative;
width: 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}
h1 {
font-size: 4rem;
font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
margin-bottom: .5rem;
font-weight: 500;
line-height: 1.2;
color: inherit;
margin-top: 0;
}
.text-uppercase {
  font-size: 40px;
  margin-bottom: 1rem;
  font-family: 'Roboto Condensed Light Italic', arial;
}
p {
font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
margin-top: 0;
}
.text-fadded {
color: #fff;
margin-bottom: 3rem!important;
text-align: center;
box-sizing: border-box;
font-size: 19px;
font-family: 'Roboto Condensed Light Italic', arial;
}
.card-text {
font-size: 12px;
}
.card-4 {
background: #fff;
border-radius: 2px;
display: inline-block;
height: 20%;
margin: 1rem;
position: relative;
width: 90%;
text-align:center;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
h2 {
color: #fff;
}
.line {
border-color: #00a0a0;
margin-left: 0;
max-width: 10%;
border-width: 5px;
}
.line2 {
border-color: #fff;
margin-left: 0;
max-width: 10%;
border-width: 5px;
}
.lineP {
border-color: #00a0a0;
margin-left: 0;
max-width: 20%;
border-width: 5px;
}
.heading{
font-size: 36px;
}
.heading-heading {
font-size: 36px;
color: #fff;
}
.material-card {
padding-left: 20px;
width: 106%;
text-align: center;
margin-top: -6%;
height: 180px;
}
.paragraph1 {
color: #e8eaed;
font-size: 18px;
font-family: 'Roboto Condensed Light Italic', arial;
}
.paragraph {
color: #6c757d;
font-size: 18px;
font-family: 'Roboto Condensed Light Italic', arial;
}
.paragraph2 {
font-size: 12px;
text-align: center;
margin-top: 28px;
color: #3b3b3d;
font-family: 'Roboto Condensed Light Italic', arial;
}
.time-pikker {
color: #fff;
background-image: url(images/image-middle.png);
background-repeat: no-repeat;
height: 68px;
padding: 15px;
padding-left: 5.5%;
}
.cal-time {
width: 28.33333333%;
float: left;
font-family: 'Dosis', sans-serif
}
.time-pikker .fa {
margin-right: 5px;
}
.cal-time1 {
width: 33.33333333%;
float: left;
font-family: 'Dosis', sans-serif
}
.date{
font-size: 13px;
color: #fff;
float: left;
padding-top: 1%;
font-family: 'Dosis', sans-serif
}
.date1 {
font-size: 13px;
color:#6c757d;
float: left;
font-family: 'Dosis', sans-serif
}
.shadow {
float: left;
padding-left: 40px;
}
.shadow1 {
float: right;
padding-right: 40px;
}
.time {
color: #737373;
font-size: 18px;
font-family: 'Dosis', sans-serif
}
.time1 {
color: #737373;
font-size: 13px;
font-family: 'Dosis', sans-serif;
margin-bottom: 1.2rem;
}
.heart {
color: #fff;
float: left;
margin-left: 5%;
font-size: 15px;
font-family: 'Dosis', sans-serif
}
.date-time {
width: 100%;
}
.k {
margin-top: 1%;
}
.clock-date {
margin-left: 5%;
margin-right: 5%;
padding-top: 10px;
padding-bottom: 10px;
}
.clock-date1 {
float: left;
}
.clock-time {
float: right;
width: 32%;
margin-top: 0px;
}
.card {
box-shadow:  0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
cursor:pointer;
}
.card1 {
box-shadow:  0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
cursor:pointer;
}
.card2 {
box-shadow:  0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
cursor:pointer;
}
.text-muted1{
color:  #00a0a0;
padding-left: 20px;
}
.card-title {
color: #5b5b5e;
clear: both;
}
.card-text {
color: #6c757d;
}
.view_all {
vertical-align: middle;
padding-left: 40%;
padding-right:40%;
margin-top: 7%;
}
.view_all h2 {
text-transform: uppercase;
background: #fff;
padding: 12px 15px;
border: 3px solid #00a0a0;
font-size: 20px;
min-width: 185px;
text-align: center;
}
.view_all h2 a {
color: #00a0a0;
text-decoration: none;
padding: 12px 15px;
}
.view_all h2:hover {
background: #d40000;
border-color: #d40000;
transition: all .4s;
-webkit-transition: all .4s;
}
.view_all h2:hover a {
color:  #fff;
transition: all .4s;
-webkit-transition: all .4s;
}
.container1 {
width: 100%;
margin-top: 5%;
}
.dark {
background-image: url("images/nearby_bg.jpg");
background-repeat: no-repeat;

width: 100%;
margin-top: 5%;
height:90%;
padding-top: 66px;

}
.card-group {
margin-top: 8%;
}
.card-title2 {
font-size: 30px;
}
.card-body2 {
text-align: center;
margin-top: 10px;
}
.light {
width: 100%;
background-image: url("images/bg.jpg");
background-repeat: no-repeat;
padding-top: 0;
margin-top: 30%;
}
.content2 {
padding-top: 5%;
}
.card-deck {
margin-right: 0px;
}
.container-fluid  {
position: relative;
top: 30px;
}
.grid-container {
grid-column-gap: 25px;
grid-template-columns: auto auto auto;
grid-row-gap: 25px;
}
.select {
float: left;
}
.category {
font-size: 20px;
color: #595959;
margin-top: 45px;
float: left;
width: 25%;
margin-left: 20px;
}
.state {
font-size: 20px;
color: #595959;
margin-top: 45px;
float: left;
width: 25%;
margin-left: 20px;
}
.price {
font-size: 20px;
color: #595959;
margin-top: 45px;
float: left;
width: 25%;
margin-left: 20px;
}
.start {
width: 20%;
margin-top: -1px;
margin-right: -1px;
background-color: #019fa0;
float: right;
height: 119px;
}
.let {
margin-top:38px;
color: #fff;
font-size: 30px;
}
.outer {
width: 1px;
height: 100%;
margin: auto;
position: relative;
overflow: hidden;
float: left;
}
.inner {
position: absolute;
width:100%;
height: 70%;
background: #b2b2b2;
top: 15%;
}
.grid-col {
width: 50%;
height: 22.5rem;;
}
.grid-item-img {
width: 100%;
height: 175px;
}
.grid-item {
background-color: rgba(255, 255, 255, 0.8);
font-size: 30px;
text-align: center;
}
.UE {
background-color: #1caaac;
}
.upcoming-events {
float: left;
width: 100%;
background-image: url("images/upcoming.jpg");
height: 100%;
background-size: contain;
background-repeat: no-repeat;
margin-left: 35px;
}
.background{
height: 100%;
width: 100%;
}
.grid-item-img1{
width: 100%;
height: 100%;
}
.image {
position: relative;
top: -20%;
}
.container-plus {
background-color: #f2f2f2;
padding-top: 30px;
}
.row {
width: 100%;
padding-left: 5px;
padding-right: 5px
}
.col1 {
width: 50%;
box-shadow:  0 14px 28px #f2f2f2;
}
.col2 {
width: 50%;
padding-right: 8%;
padding-top: 15px;
}
.content4{
margin-top: -10%;
}
.grid-container1 {
/*display: grid;*/
grid-template-columns: auto auto auto auto;
}
.grid-item1{
background-color: rgba(255, 255, 255, 0.8);
font-size: 30px;
text-align: center;
}
.grid-item11 {
background-color:  #19b9b9;
text-align: center;
background-size: contain;
background-repeat: no-repeat;
padding-top: 5px;
padding-bottom: 5px;
}
.grid-item12 {
background-color:  #0f6a6b;
text-align: center;
padding-top: 5px;
padding-bottom: 5px;
}
.heading4 {
font-size: 15px;
}
.heading42 {
font-size: 15px;
color: #19b9b9;
}
.new-image {
background-image: url("images/./bottom_bg.jpg");
padding-top: 0;
padding-bottom: 5%;
margin-top: 5%;
}
.content5 {
padding-top: 5%;
}
.form-control1 {
display: block;
width: 65%;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 2.5;
color: #fff;
background-color: transparent;
background-clip: padding-box;
border: 2px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
::placeholder {
  color: #fff;
  opacity: 0.5;
}
.button {
font-size: 26px;
background-color: #00a0a0;
color: #fff;
text-align: center;
font-weight: 600;
font-family: "Helvetica Neue";
padding: 8px;
width: 30%;
display: inline-block;
white-space: nowrap;
vertical-align: middle;
-moz-user-select: none;
border: 1px solid transparent;
line-height: 1.5;
border-radius: .25rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
float: right;
margin-top: -6.5%;
}
.dwnld {
width: 96%;
margin-left: 2%;
background-color: #00a0a0;
height: 158px;
position: relative;
top: 65px;
}
.blog-container {
width: 100%;
margin-top: 15%;
}
.columnA {
background-color: #2d2c2c;
height: 325px;
width: 100%;
margin-top: 0;
}
.columnB {
background-color: #2d2c2c;
height: 325px;
width: 100%;
}
.columnC{
background-color: #000;
height: 325px;
width:70%;
}
.img2 {
float: right;
margin-top: 4%;
width: 50%;
margin-right: -10%;
}
.contact-us {
color: #fff;
font-size: 15px;
}
.dwnld-inner{
margin-left: 10.333%;
width: 83.33333333%;
float: left;
}
.download {
width: 100%;
}
.dwnld-app {
color: #fff;
font-size: 45px;
line-height: normal;
margin-top: 50px;
float: left !important;
}
.card-text1 {
font-size: 13px;
color:  #6c757d;
}
hr.crown {
max-width: 140px;
border-width: 1px;
border-color: #f05f40;
}
hr.united {
max-width: 140px;
border-width: 1px;
border-color: #009e9f;
}
hr.united1 {
max-width: 140px;
border-width: 1px;
border-color: #355e7e;
}
hr.crown-uni {
max-width: 90%;
border-width: 1px;
border-color:#9f9f9f;
}
.arrow-container {
background-color: #3a3a3a;
width: 100%;
padding-bottom: 3%;
padding-top: 0%;
}
.footer-container {
background-color: #000000;
width: 100%;
}
.footer-container a {
color: #fff;
text-decoration: none;
}
.footer-container a:hover {
color:  #00a0a0;
text-decoration: none;
}
.footer{
font-size: 12px;
text-align: center;
color: #fff;
float: bottom;
font-family: 'Roboto Condensed Light Italic', arial;
}
h6.events {
font-size: 12px;
color: #c2c2c2;
float: left;
font-family:'Roboto Condensed Light Italic', arial;
padding-left: 8px;
padding-right: 8px;
border-right: 1px solid #fff;
cursor: pointer;
}
h6.events1 {
  font-size: 12px;
    color: #c2c2c2;
    float: left;
    font-family: 'Roboto Condensed Light Italic', arial;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
}
.out {
width: 2px;
margin: auto;
position: relative;
overflow: hidden;
float: left;
}
.inn {
position: relative;
width: 100%;
height: 5%;
background: #9f9f9f;
top: 10px;
}
.out1 {
width: 2px;
height: 50px;
margin: auto;
position: relative;
overflow: hidden;
float: left;
}
.inn1 {
position: absolute;
width:100%;
height: 30%;
background:rgba(255,255,255,.7);
top: 50%;
}
.logo-col {
width: 30%;
float: left;
margin-top: 9%;
padding-left: 50px;
}
.logo-col1 {
width: 30%;
padding-top: 10%;
padding-left: 50px;
height: 21rem;
margin-left: 30%;
}
.logo-col2 {
width: 30%;
position: relative;
bottom: 80%;
float: right;
}
.logo-para {
font-size: 10px;
color: #fff;
line-height: 25px;
padding-top: 5%;
}
.logo-line {
border-color: #fff;
margin-left: 0;
max-width: 100%;
border-width: 1px;
}
.logo-line2 {
border-color: #fff;
margin-left: 0;
max-width: 80%;
border-width: 1px;
}
.social {
float: left;
list-style: outside none none;
padding-left: 0;
width: 100%;
height: 0px;
}
.socail a {
border-radius: 50%;
float: left;
height: 40px;
line-height: 43px;
width: 40px;
}
.fa {
display: inline-block;
}
.icon-link {
color: #fff;
}
.icon-link:hover {
color: #00a0a0;
}
.blog {
font-size: 15px;
color: #fff;
}
a:hover {
color:#ff6060;
text-decoration: none;
}
a:hover{
color: #ff6060;
}
.social-icon-list{
display: inline;
margin-right: 13%;
}
.beat {
font-size: 10px;
border-bottom: 1px solid #fff;
color: #fff;
font-weight: normal;
margin: 0 0 5px 0;
line-height: 20px;
}
.read {
color: #fff;
float: left;
font-size: 9px;
margin-bottom: 0;
padding-top: 5px;
width: 100%;
line-height: 17px;
}
.posted {
font-size:8px;
line-height: 3px;
}
.event-area {
width: 59.667%;
float: right;
margin-top: -30%;
}
.event {
padding-top: 10px;
width: 100%;
}
.contact-list {
float: right;
padding-right: 12%;
margin-top: 7%;
}
.contact {
color: #fff;
font-size: 15px;
}
.support1 {
font-size: 11px;
color: #fff;
float: right;
padding-right: 25px;
}
.support2 {
font-size: 11px;
color: #fff;
float: right;
padding-right: 15px;
}
.support3 {
font-size: 11px;
color: #fff;
float: right;
}
.customer {
color: #fff;
display: block;
float: left;
font-size: 15px;
padding-bottom: 5px;
margin-top: 20px;
margin-bottom: 10px;
}
ul li a:hover {
color:  #00a0a0;
text-decoration: none;
}
ul {
float: left;
color: #fff;
padding-left: 0;
width: 100%;
font-size: 12px;
line-height: 43px;
}
ul li a {
color: #fff;
font-size: 12px;
}
footer{
width: 100%;
float: left;
}
.footer-footer {
background-color: #000;
padding-top: 10%;
margin-top: -10%;
}
.logo-social {
margin-top: 3px;
padding-bottom: 50px;
}
.support span:hover{
color:  #00a0a0;
text-decoration: none;
}
footer p {
color: #fff;
padding: 1em 0;
text-align: left;
line-height: 25px;
margin: 0 0 10px;
font-size: 12px;
}
.col-md-4 {
width: 25%;
}
.event-area {
float: left;
margin-top: -21%;
left: 75px;
}
.read-more {
color: #fff;
font-size: 10px;
float: left;
position: relative;
right: 64%;
top: 10px;
}
.icon-add {
padding-top: 0px;
width: 100%;
}
.col-icon2 {
position: relative;
top: -60%;
right: 25%;
float: right;
}
.footer-img {
float: right;
}
@media only screen and (max-width: 1024px) {
.button {
margin-top: -7.8%;
}
#navbarResponsive {
left: 10% !important;
}
.col-lg-6 {
top: 49% !important;
}
.col-lg-10 {
top: 68% !important;
}
.col-lg-8 {
top: 84% !important;
}
.material-card {
height: 30%;
}
.category {
font-size: 20px;
margin-top: 30px;
}
.state {
font-size: 20px;
margin-top: 30px;
}
.price {
font-size: 20px;
margin-top: 30px;
}
.fa {
font-size: 15px !important;
}
.date1 {
font-size: 10px;
}
.clock-time {
margin-top: 5px;
}
.time1 {
font-size:10px;
}
.inner {
height: 70%;
top: 15px;
}
.let {
margin-top: 26px;
}
.start {
margin-top: -77px;
height: 95px;
}
.img-1 {
width: 100% !important;
}
.img-1 img{
width: 33% !important;
}
.img-1 img{
width: 33% !important;
position: relative !important;
right: 5px !important;
}
.img-1 img:last-child {
width: 33% !important;
position: relative !important;
right: 10px !important;
}
.grid-item-img {
height: 146px;
}
.time-pikker {
padding: 13px;
padding-left: 7.5%;
}
.cal-time {
width: 38.333%;
}
.cal-time1 {
width: 50.333%;
}
.read-more11 {
right: 60% !important;
}
.img2 {
margin-top: 5%;
}
h6.events {
padding-top: 8px;
}
.inn {
top: 8px;
}
.footer-logo {
padding: 2px !important;
}
.logo-line2 {
margin-top: 28px;
}
.col-sm-8 {
margin-top: -75px !important;
}
ul {
line-height: 32px;
}
.paragraph2 {
font-size: 10px;
}
.date {
font-size: 10px;
padding-top: 0%;
}
.material-icons {
font-size: 15px !important;
}
.heading4 {
font-size: 12px;
}
@media only screen and (max-width: 560px) {
.my-grids  > .grid-col{
height: auto;
}
.my-grids  > .grid-col img{
height: auto !important;
}
.upcoming-events{
background-size: contain !important;
background-repeat: no-repeat;
}
.grid-container1 .paragraph2{
clear: both;
}
.time-pikker .cal-time{
width: 40%;
}
.time-pikker .cal-time1{
width: 60%;
}
.dwnld{
height: 150px !important;
}
.my-grids .grid-col, .my-grids .grid-item, .my-grids .grid-item  img{
width: 100% !important;
}
.out1 {
height: 0px;
}
.col-lg-6  {
left: 38%!important;
transform: translate(-38%, -44%)!important;
}
.col-lg-10 {
margin-top: 20px!important;
}
.category {
font-size: 15px;
margin-top: 25px;
}
.state {
font-size: 15px;
margin-top: 25px;
}
.price {
font-size: 15px;
margin-top: 25px;
}
.let {
margin-top: 25px !important;
font-size: 20px;
}
.clock-time {
margin-top: 0px !important;
}
.start {
margin-top: -80px !important;
width: 16% !important;
}
.col-lg-8 {
transform: translate(-60%, -57%)!important;
left: 57%!important;;
}
.text-fadded {
margin-bottom: 6rem !important;
font-size: 12px!important;
}
.text-uppercase {
font-size: 25px!important;
}
.arrow {
margin-right: 65px !important;
}
.text-fadded1 {
margin-top: 9px;
padding-left: 0px !important;
font-size: 14px!important;
}
.my-grids .grid-item  img{
height: 100%;
}
.upcoming-events{
margin-left: 0;
width: 100%;
background-size: cover;
height: 345px;
margin-top: 5%;
}
.container-plus .col1, .container-plus .col2{
width: 100%;
}
.cal-time1{
width: 50%;
}
.content4{
margin-top: 0;
}
.img-1 img{
width: 32% !important;
}
.img-1 img:last-child {
width: 32% !important;
}
.grid-container1 > div{
width: 100%;
height: auto;
}
.grid-item11, .grid-item12{
padding-top: 15px;
padding-bottom: 15px;
}
.grid-item11 p, .grid-item12 p{
margin: 0;
}
.grid-item11 .heart, .grid-item12 .heart{
padding-left: 15px;
}
.view_all{
width: 100%;
padding-left: 0;
padding-right: 0;
text-align: center;
}
.view_all h2{
min-width: 100%;
margin: auto;
}
.new-image .form-control1{
width: 50%;
}
.new-image .button {
margin-top: -73px;
width: 40%;
}
.col2 {
margin-left: 5%;
}
.time-pikker {
height: 11.5%;
padding-left: 6.5%;
}
.cal-time {
width: 32.333%;
}
.read-more11 {
right: 0 !important;
}
.content4 {
margin-top: 100px;
}
.dwnld{
width: 100%;
margin-left: 0;
background-color: #00a0a0;
height: 115px;
position: relative;
top: 72px;
}
.dwnld-app {
font-size: 35px;
margin-left: 15%;
margin-top: 0;
}
.download .img2{
margin-right: 10%;
margin-top: 0;
width: 70%;
}
.download .img2 img {
width: 40% !important;
}
.download .img2 img:last-child{
width: 40% !important;
}
.footer-footer ul{
margin-left: 15px;
}
.arrow-container {
padding-bottom: 5%;
}
h6.events {
font-size: 8px;
}
.inn {
height: 4%;
}
.dark .img-1{
max-width: 100%;
}
.material-card{
max-width: 100%;
}
.my-head-wrapper div{
position: static !important;
transform: none !important;
}
.head-container{
padding: 15px;
}
}
@media only screen and (max-width: 800px) {
.custom-cards div{
padding: 7px 5px;
}
.select-para{
font-size: 14px;
text-align: center;
}
.select-para span{
width: 100%;
}
.select-para i{
float: none !important;
}
.lets-start{
font-size: 14px;
text-align: center;
padding: 15px 5px;
}
}
