

<link href='https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<link href="https://blackrockdigital.github.io/startbootstrap-creative/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom fonts for this template -->
<link href="https://blackrockdigital.github.io/startbootstrap-creative/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- Plugin CSS -->
<link href="https://blackrockdigital.github.io/startbootstrap-creative/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="https://blackrockdigital.github.io/startbootstrap-creative/css/creative.min.css" rel="stylesheet">
<!-- Bootstrap core JavaScript -->
<script src="https://blackrockdigital.github.io/startbootstrap-creative/vendor/jquery/jquery.min.js"></script>
<script src="https://blackrockdigital.github.io/startbootstrap-creative/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://blackrockdigital.github.io/startbootstrap-creative/js/creative.min.js"></script>
#mainNav {
font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
transition: all .2s;
border-bottom: 1px solid #fff;
margin-top: 10px;
}
#mainNav .navbar-brand {
color: rgba(255,255,255,.7);
font-weight: 700;
text-transform: uppercase;
font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
#mainNav {
    border-color: transparent;

    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
}
.navbar-light .navbar-nav .nav-link{
color: #fff;
}
.navbar-collapse {
display: flex;
flex-basis: auto;
flex-grow: 1;
align-items: center;
}
.logo {
  background: #000 none repeat scroll 0 0;
left: -105px;
padding-left: 12%;
position: relative;
width: 33%;
}
.navbar-brand:hover {
color: #00a0a0;
text-decoration: none;
}
.navbar-nav > li > a {
color: #fff !important;
font-size: 16px;
padding: 7px 12px;
text-transform: capitalize;
background: transparent;
border: dashed 1px transparent;
}
.navbar-nav > li > a:
, header nav.navbar-default .navbar-nav > li.active > a {
background: transparent none repeat scroll 0 0 !important;
color: #fb9391 !important;
text-shadow: 0 0 8px #000;
}
.head-center {
height: 100vh;
min-height: 650px;
padding-top: 0;
padding-bottom: 0;
background-image: url("images/events_0_107_136.jpeg");
background-position: center center;
background-size: cover;
color: #fff;
text-align: center;
display: flex;
}
.head-container {
margin-bottom: auto;
margin-top: auto;
margin-left: auto;
margin-right: auto;



}
.fa {
line-height: 22px;
}
.row {
display: flex;
margin-right: -15px;
margin-left: -15px;
}
.col-head {
margin-right: auto;
margin-left: auto;
position: relative;
width: 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}
h1 {
font-size: 4rem;
font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
margin-bottom: .5rem;
font-weight: 500;
line-height: 1.2;
color: inherit;
margin-top: 0;
}
.text-uppercase {
text-transform: uppercase;
}
p {
font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
margin-top: 0;
}
.text-fadded {
color: #fff;
margin-bottom: 3rem!important;
text-align: center;
box-sizing: border-box;
font-size: 19px;
}
.card-text {
font-size: 12px;
}
.card-4 {
background: #fff;
border-radius: 2px;
display: inline-block;
height: 20%;
margin: 1rem;
position: relative;
width: 90%;
text-align:center;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
h2 {
color: #fff;
}
.line {
border-color: #00a0a0;
margin-left: 0;
max-width: 15%;
border-width: 5px;
}
.line2 {
border-color: #fff;
margin-left: 0;
max-width: 10%;
border-width: 5px;
}
.lineP {
border-color: #00a0a0;
margin-left: 0;
max-width: 30%;
border-width: 5px;
}
.heading{
font-size: 40px;
}
.content {
margin-top: -7%;
}
.heading2 {
font-size: 40px;
color: #fff;
}
.material-card {
padding-left: 20px;
width: 106%;
text-align: center;
margin-top: -6%;
height: 28%;
}
.paragraph1 {
color: #e8eaed;
font-size: 18px;
}
.paragraph {
color: #6c757d;
font-size: 18px;
margin-top: 20px;
}
.paragraph2 {
font-size: 12px;
text-align: center;
margin-top: 50px;
color: #3b3b3d;
}

.time-pikker {
  color: #fff;
background-image: url(images/image-middle.png);
background-repeat: no-repeat;
height: 6.5%;

padding: 15px;
padding-left: 3.5%;
}
.cal-time {
  width: 28.33333333%;
  float: left;
  font-family: 'Dosis', sans-serif
}
.time-pikker .fa {
    margin-right: 5px;
}
.cal-time1 {
  width: 33.33333333%;
  float: left;
  font-family: 'Dosis', sans-serif
}



.date{
font-size: 13px;
color: #fff;
float: left;
padding-top: 1%;
font-family: 'Dosis', sans-serif
}
.date1 {
font-size: 13px;
color:#6c757d;
float: left;
padding-top: 1%;
font-family: 'Dosis', sans-serif
}
.shadow {
float: left;
padding-left: 40px;
}
.shadow1 {
float: right;
padding-right: 40px;
}
.time {
color: #737373;
font-size: 18px;
font-family: 'Dosis', sans-serif
}
.time1 {
color: #737373;
font-size: 13px;
font-family: 'Dosis', sans-serif;
margin-bottom: 1.2rem;
}
.heart {
color: #fff;
float: left;
margin-left: 5%;
font-size: 15px;
font-family: 'Dosis', sans-serif
}
.date-time {
width: 100%;
}
.k {
margin-top: 1%;
}
.clock-date {
margin-left: 5%;
margin-right: 5%;
margin-top: 3%;
}
.clock-date1 {
margin-left: 2%;
margin-right: 2%;
margin-top: 2%;
height: 34px;
float: left;
}
.clock-time {
float: right;
width: 36%;
margin-top: 6px;
}
.card {
box-shadow:  0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
cursor:pointer;
}
.card1 {
box-shadow:  0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
cursor:pointer;
}
.card2 {
box-shadow:  0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
cursor:pointer;
}
.text-muted1{
color:  #00a0a0;
}
.card-title {
color: #5b5b5e;
}
.card-text {
color: #6c757d;
}
.view_all {
vertical-align: middle;
padding-left: 40%;
padding-right:40%;
margin-top: 5%;
}
.view_all h2 {
text-transform: uppercase;
background: #fff;
padding: 12px 15px;
border: 3px solid #00a0a0;
font-size: 20px;
min-width: 185px;
text-align: center;
}
.view_all h2 a {
color: #00a0a0;
text-decoration: none;
padding: 12px 15px;
}
.view_all h2:hover {
background: #d40000;
border-color: #d40000;
transition: all .4s;
-webkit-transition: all .4s;
}
.view_all h2:hover a {
color:  #fff;
transition: all .4s;
-webkit-transition: all .4s;
}
.container1 {
width: 100%;
margin-top: 5%;
}
.dark {
background-color: #02807F;
width: 100%;
margin-top: 5%;
height:100%;
}
.card-group {
margin-top: 8%;
}
.card-title2 {
font-size: 30px;
}
.card-body2 {
text-align: center;
margin-top: 10px;
}
.light {
width: 100%;
background-image: url("images/background2.jpg");
background-repeat: no-repeat;
padding-top: 0;
margin-top: 125%;

}
.content2 {
margin-top: -119%;
padding-top: 5%;
}
.grid-container {
display: grid;
grid-column-gap: 25px;
grid-template-columns: auto auto auto;
grid-row-gap: 25px;
}
.select {
float: left;
}
.category {
font-size: 24px;
color: #585858;
margin-top: 45px;
float: left;
width: 25%;
margin-left: 20px;
}
.state {
font-size: 24px;
color: #585858;
margin-top: 45px;
float: left;
width: 25%;
margin-left: 20px;
}
.price {
font-size: 24px;
color: #585858;
margin-top: 45px;
float: left;
width: 25%;
margin-left: 20px;
}
.start {
width: 20%;
margin-top: -1px;
margin-right: -1px;
padding-bottom: 3.5%;
background-color: #019fa0;
float: right;
}
.let {
margin-top:38px;
color: #fff;
font-size: 30px;
}
.outer {
width: 1px;
height: 100%;
margin: auto;
position: relative;
overflow: hidden;
float: left;
}
.inner {
position: absolute;
width:100%;
height: 70%;
background: #b2b2b2;
top: 15%;
}
.grid-col {
width: 50%;
}
.grid-item-img {
width: 200%;
height: 100%;
}
.grid-item {
background-color: rgba(255, 255, 255, 0.8);
font-size: 30px;
text-align: center;
width: 50%;
}
.UE {
background-color: #1caaac;
}
.upcoming-events {
float: left;
width: 100%;
background-image: url("images/./upcoming.jpg");
height: 100%;
margin-left: 35px;
}
.background{
height: 100%;
width: 100%;
}
.grid-item-img1{
width: 100%;
height: 100%;
}
.image {
position: relative;
top: -20%;
}
.container-plus {
background-color: #dee0e2;

}
.row {
width: 100%;
padding-left: 5px;
padding-right: 5px
}
.col1 {
width: 50%;

box-shadow:  0 14px 28px #dee0e2; 0 10px 10px #dee0e2;
}
.col2 {
width: 50%;
padding-right: 8%;

}
.content4{
margin-top: -10%;
}
.grid-container1 {
display: grid;
grid-template-columns: auto auto auto auto;
}
.grid-item1{
background-color: rgba(255, 255, 255, 0.8);
font-size: 30px;
text-align: center;
width: 278px;
height: 100%;
}
.grid-item11 {
background-color:  #19b9b9;
text-align: center;
width: 278px;
height: 100%;
}
.grid-item12 {
background-color:  #0f6a6b;
text-align: center;
width: 278px;
height: 100%;
}
.heading4 {
font-size: 15px;
}
.heading42 {
font-size: 15px;
color: #19b9b9;
}
.new-image {
background-image: url("images/./dark-vintage.jpg");
padding-top: 0;
padding-bottom: 3%;
margin-top: 5%;
}
.content5 {
padding-top: 5%;
}
.form-control1 {
display: block;
width: 65%;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 2.5;
color: #fff;
background-color: transparent;
background-clip: padding-box;
border: 2px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.button {
font-size: 26px;
background-color: #00a0a0;
color: #fff;
text-align: center;
font-weight: 600;
font-family: "Helvetica Neue";
padding: 8px;
width: 30%;
display: inline-block;
white-space: nowrap;
vertical-align: middle;
-moz-user-select: none;
border: 1px solid transparent;
line-height: 1.5;
border-radius: .25rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
float: right;
margin-top: -6.5%;
}
.dwnld {
width: 96%;
margin-left: 2%;
background-color: #00a0a0;
height: 158px;
position: relative;
top: 65px;
}
.blog-container {
width: 100%;
margin-top: 15%;
}
.columnA {
background-color: #2d2c2c;
height: 325px;
width: 100%;
margin-top: 0;
}
.columnB {
background-color: #2d2c2c;
height: 325px;
width: 100%;
}
.columnC{
background-color: #000;
height: 325px;
width:70%;
}
.img2 {
float: right;
margin-top: 4%;
width: 50%;
margin-right: -10%;
}
.contact-us {
color: #fff;
font-size: 15px;
}
.dwnld-inner{
  margin-left: 10.333%;
  width: 83.33333333%;
  float: left;
}
.download {
  width: 100%;
}
.dwnld-app {

color: #fff;
font-size: 45px;
line-height: normal;
margin-top: 50px;
float: left !important;
}
.card-text1 {
font-size: 13px;
color:  #6c757d;
}
hr.crown {
max-width: 140px;
border-width: 1px;
border-color: #f05f40;
}

hr.united {
max-width: 140px;
border-width: 1px;
border-color: #009e9f;
}
hr.united1 {
max-width: 140px;
border-width: 1px;
border-color: #355e7e;
}
hr.crown-uni {
max-width: 90%;
border-width: 1px;
border-color:#9f9f9f;
}
.arrow-container {
background-color: #3a3a3a;
width: 100%;
padding-bottom: 3%;
padding-top: 0%;
}
.footer-container {
background-color: #000000;
width: 100%;

}
.footer-container a {
  color: #fff;
  text-decoration: none;
}
.footer-container a:hover {
  color:  #00a0a0;
  text-decoration: none;
}
.footer{
font-size: 11px;
text-align: center;
color: #fff;
float: bottom;
}
h6.events {
font-size: 12px;
color: #c2c2c2;
float: left;
padding-top: 15px;
padding-left: 8px;
padding-right: 8px;
}
.out {
    width: 2px;
    margin: auto;
    position: relative;
    overflow: hidden;
    float: left;
}
.inn {
  position: relative;
    width: 100%;
    height: 5%;
    background: #9f9f9f;
    top: 12px;
}
.out1 {
width: 2px;
height: 100%;
margin: auto;
position: relative;
overflow: hidden;
float: left;
}
.inn1 {
position: absolute;
width:100%;
height: 40%;
background:rgba(255,255,255,.7);
top: 30%;
}
.logo-col {
width: 30%;
float: left;

margin-top: 9%;
padding-left: 50px;
}
.logo-col1 {
width: 30%;

padding-top: 10%;
padding-left: 50px;
height: 21rem;
margin-left: 30%;
}
.logo-col2 {
  width: 30%;
  position: relative;
  bottom: 80%;
  float: right;
}
.logo-para {
font-size: 10px;
color: #fff;
line-height: 25px;
padding-top: 5%;
}
.logo-line {
border-color: #fff;
margin-left: 0;
max-width: 100%;
border-width: 1px;
}
.logo-line2 {
  border-color: #fff;
  margin-left: 0;
  max-width: 80%;
  border-width: 1px;
}
.social {
float: left;
list-style: outside none none;
padding-left: 0;
width: 100%;
height: 0px;
}
.socail a {
border-radius: 50%;
float: left;
height: 40px;
line-height: 43px;
width: 40px;
}
.fa {
display: inline-block;
}
.icon-link {
color: #fff;
}
.icon-link:hover {
color: #00a0a0;
}
.blog {
font-size: 15px;
color: #fff;

}
a:hover{
color: none;
}
.social-icon-list{
display: inline;
margin-right: 13%;
}
.beat {
font-size: 10px;
border-bottom: 1px solid #fff;
color: #fff;

font-weight: normal;
margin: 0 0 5px 0;
line-height: 20px;
}
.read {
  color: #fff;
  float: left;
  font-size: 9px;
  margin-bottom: 0;
  padding-top: 5px;
  width: 100%;
  line-height: 17px;
}
.posted {
  font-size:8px;
  line-height: 3px;
}
.event-area {
width: 59.667%;
float: right;
margin-top: -30%;
}
.event {

padding-top: 10px;
width: 100%;
}
.contact-list {
float: right;
padding-right: 12%;
margin-top: 7%;
}
.contact {
color: #fff;
font-size: 15px;
}
.support1 {
font-size: 11px;
color: #fff;
float: right;
padding-right: 25px;
}
.support2 {
font-size: 11px;
color: #fff;
float: right;
padding-right: 15px;
}
.support3 {
font-size: 11px;
color: #fff;
float: right;
}
.customer {
color: #fff;
display: block;
float: left;
font-size: 15px;
padding-bottom: 5px;
margin-top: 20px;
margin-bottom: 10px;
}
 ul li a:hover {
    color:  #00a0a0;
    text-decoration: none;
  }
ul {
float: left;

color: #fff;
padding-left: 0;
width: 100%;
font-size: 12px;
line-height: 43px;
}
ul li a {
color: #fff;
font-size: 12px;
}

footer{
  width: 100%;
  float: left:
}
.footer-footer {
  background-color: #000;
  padding-top: 10%;
  margin-top: -10%;
}
.logo-social {
  margin-top: 3px;
  padding-bottom: 50px;

}
.support span:hover{
  color:  #00a0a0;
  text-decoration: none;
}
footer p {
  color: #fff;
  padding: 1em 0;
text-align: left;
line-height: 25px;
margin: 0 0 10px;
font-size: 12px;
}
.col-md-4 {
  width: 25%;
}
.event-area {
  float: left;
margin-top: -21%;
left: 75px;

}
.read-more {
  color: #fff;
  font-size: 10px;
  float: left;
  position: relative;
  right: 64%;
  top: 10px;
}
.icon-add {
  padding-top: 0px;
  width: 100%;
}
.col-icon2 {
  position: relative;
top: -60%;
right: 25%;
float: right;
}
.footer-img {
  float: right;
}
 @media only screen and (max-width: 1024px) {
   .button {
     margin-top: -7.8%;
   }


   @media only screen and (max-width: 560px) {
  .my-grids .grid-col, .my-grids .grid-item, .my-grids .grid-item  img{
    width: 100% !important;
  }
  .my-grids .grid-item  img{
    height: auto;
  }
  .upcoming-events{
    margin-left: 0;
    width: 100%;
    background-size: cover;
    height: 250px;
  }
  .container-plus .col1, .container-plus .col2{
    width: 100%;
  }
  .cal-time1{
    width: 50%;
  }
  .content4{
    margin-top: 0;
  }
  .grid-container1 > div{
    width: 100%;
    height: auto;
  }
  .grid-container1 > div > img{
    height: auto;
  }
  .grid-item11, .grid-item12{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .grid-item11 p, .grid-item12 p{
    margin: 0;
  }
  .grid-item11 .heart, .grid-item12 .heart{
    padding-left: 15px;
  }
  .view_all{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .view_all h2{
    width: 190px;
    margin: auto;
  }
  .new-image .form-control1{
    width: 100%;
  }
  .new-image .button{
    margin-top: 0;
    width: 50%;
  }
  .dwnld{
    height: auto;
  }
  .download .img2{
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .download .img2 img{
    width: 45% !important;
  }
  .download .img2 img:last-child{
    float: right;
  }
  .footer-footer ul{
    margin-left: 15px;
  }
  .footer-footer{
    overflow: hidden;
  }
  .dark .img-1{
    max-width: 100%;
  }
  .material-card{
    max-width: 100%;
  }
  .my-head-wrapper div{
    position: static !important;
    transform: none !important;
  }
  .head-container{
    padding: 15px;
  }
}
